@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
